<form>
    <fieldset>
      <legend>Sign in</legend>
      <ol>
        <li>
      <label for="username">Username or email address</label>
      <input id="username" name="username" type="text" autocapitalize="off" autocorrect="off">
    </li>
    <li>

      <label for="password">Password</label>
      <input id="password" name="password" type="password">
      <p>
        <a title="Show password" href="#">
          Show password</a>
      </p>
    </li>
    <li>
      <input type="submit" value="Sign in">
    </li>
  </ol>
      <p><a href="#" title="Forgot username">
        Forgot username?</a></p>
      <p><a href="#" title="Forgot password">
        Forgot password?</a></p>
    </fieldset>
</form>
